NameVirtualHost *:{{ httpd_port }}

<VirtualHost *:{{ httpd_port }}>
    ServerName {{ servername }}
    DocumentRoot /var/www/html/
    ServerAdmin {{ serveradmin }}
    ErrorLog logs/{{ errorlog }}-error_log
    CustomLog logs/{{ customlog }}-access_log common

    <Directory /var/www/html/>
        Options None
    </Directory>

{% include "files/apache/mod_rewrite/" + documentrootdir + ".conf" ignore missing %}

</VirtualHost>
